$red: red;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.theme-btn {
  border-radius: 31px;
  padding: 1rem 3rem;

  &.grey {
    background-color: #494964;
    color: #fff;
  }
}

.input-field {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 19px #194a841c;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.text-area-field {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 19px #194a841c;
  border-radius: 20px;
}

label {
  margin-bottom: 0.8rem;
}

.validation-err-message {
  color: $red;
  position: absolute;
  bottom:-13px;
}